<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.timepp.democollection">

    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".customview.musicAnim.MusicAnimActivity"/>
        <activity android:name=".customview.drawDemo.DrawDemoActivity"/>
        <activity android:name=".customview.drawDemo.MatrixActivity"/>
        <activity android:name=".other.textSpan.SpanActivity"/>
        <activity android:name=".customview.recyclerviewtest.RecyclerViewActivity"/>
        <activity android:name=".other.fingerprint.FingerPrintActivity"/>
        <activity android:name=".other.scrollTest.ScrollActivity"/>
        <activity android:name=".other.recyclerview.AnotherRecyclerViewActivity"/>
        <activity android:name=".other.webview.WebViewActivity"/>
        <activity android:name=".other.aidl.AIDLTestActivity"/>
        <activity android:name=".customview.scaleview.ScaleActivity"/>
    </application>

</manifest>